{% load static %}
<div class="site-section" id="about-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-5">
        <img src="{% static 'images/hero_3.jpg' %}" alt="Image" class="img-fluid" class="img-fluid">
      </div>
      <div class="col-lg-5 ml-auto section-title">
        <span class="sub-title mb-2 d-block">Как мы работаем</span>
        <h2 class="title text-primary mb-3">Опыт работы с 2015 года</h2>
        <p class="mb-4">Мы предлагаем заказать презентацию на лучших условиях:</p>
        <div class="d-flex">
          <ul class="list-unstyled ul-check success mr-5">
            <li>Всё включено</li>
            <li>Нацелены на результат</li>
            <li>Никому не расскажем</li>
            <li>Никаких сюрпризов</li>
            <li>Делаем быстро</li>
            <li>Никакой бюрократии</li>
          </ul>
        </div>
        <p><a href="#contact-section" target="_blank" class="btn btn-primary btn-md">Заказать</a></p>
      </div>
    </div>
  </div>
</div>
