<div class="site-section" id="contact-section">
  <div class="container">
    {% include 'includes/check_error.html' %}
    <form id="order-form" method="post" class="contact-form">
      <div class="section-title text-center mb-5">
        <span class="sub-title mb-2 d-block">Заказ презентации в 1 клик</span>
        <h2 class="title text-primary">Оставьте заявку</h2>
      </div>
      {% csrf_token %}
      {% include 'includes/cycle_forms.html' %}
      <div class="row">
        <div class="col-12 my-0">
          <button type="submit" class="btn btn-primary btn-md" onsubmit="ym(94560664,'reachGoal','submitForm'); return true;">Отправить</button>
          <div class="text-center mt-3"> <small>Нажимая на кнопку отправить, я даю свое согласие на обработку персональных данных в соответствии с <a href="{% url 'core:policy' %}">Политикой конфиденциальности</a>.</small> </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% include 'core/includes/modal_window.html' %}
