<div class="site-section" id="contact-section">
  <div class="container">
    {% include 'includes/check_error.html' %}
    <form id="order-form" method="post" class="contact-form">
      <div class="section-title text-center mb-5">
        <span class="sub-title mb-2 d-block">Заказ презентации в 1 клик</span>
        <h2 class="title text-primary">Оставьте заявку</h2>
      </div>
      {% csrf_token %}
      {% include 'includes/cycle_forms.html' %}
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-md">Отправить</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% include 'core/includes/modal_window.html' %}
{% if success %}
<script>
  $(document).ready(function(){
    $("#successModal").modal('show');
  });
</script>
{% endif %}