{% load static %}
<div class="site-blocks-cover" id="home-section">
    <div class="img-wrap">
      <div class="owl-carousel slide-one-item hero-slider">
        <div class="slide overlay">
          <img src="{% static 'images/design.webp' %}" alt="Image" class="img-fluid">  
        </div>
        <div class="slide overlay">
          <img src="{% static 'images/authentic-italian-pasta.webp' %}" alt="Image" class="img-fluid">  
        </div>
        <div class="slide overlay">
          <img src="{% static 'images/pasta.webp' %}" alt="Image" class="img-fluid">  
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 align-self-center">
          <div class="intro">
            <div class="heading">
              <h1>Design Studio</h1>
            </div>
            <div class="text">
              <p class="sub-text mb-5">Вкусное представление простых вещей и предметов</p>
              <p><a href="#contact-section" target="_blank" class="btn btn-primary btn-md ">Заказать презентацию</a></p>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>