{% load static %}
<div class="site-section" id="portfolio-section">
  <div class="container">
    {% comment %} Waterlan {% endcomment %}
    <div class="row mb-5">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="{% static 'images/waterlan/1.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/waterlan/2.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/waterlan/3.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/waterlan/4.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/waterlan/5.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
      </div>
      <div class="col-lg-5 h-100 jm-sticky-top ml-auto">
        <h3>Презентация компании для демонстрации услуг новым клиентам</h3>
        <p class="mb-5"><strong class="text-black"></strong></p>
        <div class="d-flex">
          <ul class="list-unstyled ul-check success mr-5">
            <li>Обновили старые презентационные материалы</li>
            <li>Переписали тексты, сделав их короче и четче</li>
            <li>Нарисовали фирменную инфографику</li>
            <li>Показали продуктовые направления</li>
            <li>Показали выгоды и преимущества решения</li>
            <li>Оживили скучную информацию красочной подачей</li>
          </ul>
        </div>
        <blockquote class="blockquote">
          <p>Спасибо большое, всё быстро, четко, исправили косяки других людей, я очень доволен цена более чем адекватна, так за одну цену у меня получилось 2 презентации)))</p>
          <p class="mb-0 d-flex align-items-center">
            <img class="img-fluid mr-3" src="{% static 'images/waterlan/logo.webp' %}" alt="Image">
            <cite>&mdash; Waterlan</cite>
          </p>
        </blockquote>
        <p><a data-fancybox data-ratio="2" href="https://vimeo.com/821159327" class="d-flex align-items-center"><span class="icon-play_circle_outline h4 m-0 mr-2"></span> <span>Смотреть презентацию целиком</span></a></p>
      </div>
    </div>
    {% comment %} GCash {% endcomment %}
    <div class="row mb-5">
      <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
        <img src="{% static 'images/gcash/1.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/gcash/2.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/gcash/3.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/gcash/4.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
      </div>
      <div class="col-lg-5 h-100 jm-sticky-top mr-auto order-2 order-lg-1">
        <h3>Презентация отчета внутри компании</h3>
        <p class="mb-5"><strong class="text-black"></strong></p>
        <div class="d-flex">
          <ul class="list-unstyled ul-check success mr-5">
            <li>Проанализировали материалы заказчика</li>
            <li>Обновили старые презентационные материалы</li>
            <li>Визуализировали смыслы</li>
            <li>Нарисовали схемы и инфографику</li>
            <li>Продумали логику подачи слайдов</li>
          </ul>
        </div>
      </div>
    </div>
    {% comment %} Хозяин Алтая {% endcomment %}
    <div class="row mb-5">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="{% static 'images/altay_keeper/1.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/altay_keeper/2.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/altay_keeper/3.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/altay_keeper/4.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
        <img src="{% static 'images/altay_keeper/5.webp' %}" alt="Image" class="img-fluid" class="img-fluid">
      </div>
      <div class="col-lg-5 h-100 jm-sticky-top ml-auto">
        <h3>Презентация компании для продажи франшизы</h3>
        <p class="mb-5"><strong class="text-black"></strong></p>
        <div class="d-flex">
          <ul class="list-unstyled ul-check success mr-5">
            <li>Продумали логику подачи слайдов</li>
            <li>Нарисовали сочный и игривый дизайн</li>
            <li>Показали продуктовые направления</li>
            <li>Качественно презентовали франшизу</li>
          </ul>
        </div>
        <blockquote class="blockquote">
          <p>Презентация супер, быстро договорились. Всё качественно сделано, своих денег стоит.</p>
          <p class="mb-0 d-flex align-items-center">
            <img class="img-fluid mr-3" src="{% static 'images/altay_keeper/logo.png' %}" alt="Image">
            <cite>&mdash; ХОЗЯИН АЛТАЯ</cite>
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
