{% load static %}
<div class="site-section bg-light" id="what-we-do-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12 section-title">
          <span class="sub-title mb-2 d-block">Преимущества</span>
          <h2 class="title text-primary text-center">Лучшие цены и условия</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 ml-auto">
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-heart-o display-4 text-primary d-block mb-4"></span>
                <h3>Все включено</h3>
                <p>Полная маркетинговая проработка "под ключ"</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-my_location display-4 text-primary d-block mb-4"></span>
                <h3>Нацелены на результат</h3>
                <p>От вас требуется только озвучить идею и пожелания</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-speaker_notes_off display-4 text-primary d-block mb-4"></span>
                <h3>Никому не расскажем</h3>
                <p>При необходимости подписываем внутреннее соглашение о неразглашении</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-money_off display-4 text-primary d-block mb-4"></span>
                <h3>Никаких сюрпризов</h3>
                <p>Если вам не подойдет предложенный концепт, мы вернем 100% аванса</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-timer display-4 text-primary d-block mb-4"></span>
                <h3>Делаем быстро</h3>
                <p>Нам потребуется 2-3 дня, но можем сделать значительно быстрее</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-star_border display-4 text-primary d-block mb-4"></span>
                <h3>Никакой бюрократии</h3>
                <p>Мы сами дозвонимся, напомним, покажем, расскажем, никогда не болеем и всегда на связи</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
