{% extends 'base.html' %}
{% block title %}Политика конфиденциальности персональной информации {% endblock %}
{% block content %}
<div class="site-section">
  <div class="container">
    <h2 class="title text-primary text-center mb-5">Политика конфиденциальности персональной информации</h2>
    <p >Настоящая Политика конфиденциальности персональной информации (далее - «Политика») действует в отношении всей информации, которую Design.studio63 (далее - «Агентство») может получить о Пользователе во время использования им сайта http://www.disegn.studio63.ru и услуг, оказываемых Агентством (далее - «Услуги»).
      Использование Услуг означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации. В случае несогласия с этими условиями Пользователь должен воздержаться от использования Услуг.</h2>
    <p>
      Персональная информация Пользователей, которую получает и обрабатывает 
    </p>
    <ul>
      1.1. В рамках настоящей Политики под «персональной информацией Пользователя» понимается:
      <ul>
        1.1.1 Персональная информация, которую Пользователь предоставляет о себе самостоятельно при оформлении заявок на Услуги, в процессе использования Услуг, заказ обратного звонка, осуществления оплаты услуг, включая персональные данные Пользователя. Обязательная для оказания Услуг информация помечена специальным образом.
      </ul>
      <ul>
        1.1.2 Данные, которые автоматически передаются сайту в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к сайту, адреса запрашиваемых страниц.
      </ul>
      <ul>
        1.1.3 Иная информация, обработка которой может быть предусмотрена в результате использования сайта.
      </ul>
    </ul>
    <ul>
      1.2. При нажатии кнопки «Отправить» при оформлении заявки Пользователем на оказание Услуг, он в полном объеме соглашается с условиями, отраженными в настоящей Политике.
    </ul>
    <ul>
      1.3. Настоящая Политика применима только к услугам Агентства, которая, в свою очередь, не контролирует и не несет ответственность за сайты третьих лиц, с которых Пользователь может перейти по ссылкам, на сайт http://www.disegn.studio63.ru, в том числе в результатах поиска. На таких сайтах у Пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.
    </ul>
    <ul>
      1.4. Агентство в общем случае не проверяет достоверность персональной информации, предоставляемой Пользователем, и не осуществляет контроль за их дееспособностью. Однако Агентство исходит из того, что Пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме заявок, форм обратной связи, осуществления оплаты услуг и поддерживает эту информацию в актуальном состоянии для корректного пользования услугами.
    </ul>
    <p>
      Цели сбора и обработки персональной информации Пользователей
    </p>
    <ul>2.1. Агентство собирает и хранит только те персональные данные, которые необходимы для оказания услуг.</ul>
    <ul>
      2.2. Персональную информацию Пользователя Агентство может использовать в следующих целях:
      <ul>2.2.1. Идентификация стороны в рамках соглашений и договоров с Агентством об оказании услуг;</ul>
      <ul>2.2.2. Предоставление Пользователю персонализированных услуг;</ul>
      <ul>2.2.3. Связь с Пользователем, в том числе направление уведомлений, запросов и информации, касающихся оказания услуг, а также обработка заявок от Пользователя;</ul>
      <ul>2.2.4. Улучшение качества сайта, удобства его использования, разработка новых сервисов и услуг;</ul>
      <ul>2.2.5. Таргетирование рекламных материалов;</ul>
      <ul>2.2.6. Проведение статистических и иных исследований на основе обезличенных данных.</ul>
    </ul>
    <p>
      Условия обработки персональной информации Пользователя и её передачи третьим лицам
    </p>
    <ul>3.1. При обработке персональных данных Пользователей Агентство руководствуется Федеральным законом РФ «О персональных данных».</ul>
    <ul>3.2. Агентство хранит персональную информацию Пользователей в соответствии с внутренними регламентами.</ul>
    <ul>3.3. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.</ul>
    <ul>3.4. Агентство вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
      <ul>3.4.1. Пользователь выразил свое согласие на такие действия;</ul>
      <ul>3.4.2. Передача необходима в рамках использования Пользователем сайта либо для оказания услуги Пользователю;</ul>
      <ul>3.4.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;</ul>
      <ul>3.4.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;</ul>
      <ul>3.4.5. В целях обеспечения возможности защиты прав и законных интересов Агентства или третьих лиц в случаях, когда Пользователь нарушает договорные отношения.
      </ul>
    </ul>
    <p>
      Изменение Пользователем персональной информации
    </p>
    <ul>4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, написав по адресу volochek93@yandex.ru.</ul>
    <ul>4.2. Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную информацию, отправив письмо с заголовком «Удалить заявку и персональные данные» на volochek93@yandex.ru.
    </ul>
    <p>
      Меры, применяемые для защиты персональной информации Пользователей
    </p>
    <ul>5.1. Агентство принимает необходимые и достаточные организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
    </ul>
    <p>
      Изменение Политики конфиденциальности. Применимое законодательство
    </p>
    <ul>6.1. Агентство имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. Действующая редакция всегда находится на странице по адресу http://www.disegn.studio63.ru/policy/</ul>
    <ul>6.2. К настоящей Политике и отношениям между Пользователем и Агентством, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.</ul>
    <p>
      Обратная связь. Вопросы и предложения
    </p>
    <ul>7.1. Все предложения или вопросы по поводу настоящей Политики следует сообщать на volochek93@yandex.ru.</ul>
    <h6 class="text text-right my-5">Дата опубликования: 12.05.2023</h2>
  </div>
</div>
{% endblock%}