<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="row mb-5">
            <div class="col-12">
              <h3 class="footer-heading mb-4">О нас</h3>
              <p>Мы работаем в дизайне уже более 8 лет, за спиной более 1500 проектов.</p>
              <p>Наша цель - чтобы Вы получили продукт, который поможет Вашему бренду стать узнаваемым на рынке, а также выделиться среди конкурентов</p>
            </div>
          </div>

        </div>
        <div class="col-lg-3 ml-auto">
         
          <div class="row mb-5">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Навигация</h3>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li><a href="#about-section">О нас</a></li>
                <li><a href="#what-we-do-section">Преимущества</a></li>
                <li><a href="#portfolio-section">Портфолио</a></li>
              </ul>
            </div>
            
          </div>
          
        </div>
        

        <div class="col-lg-4 mb-5 mb-lg-0">

          <div class="mb-5">
            <h3 class="footer-heading mb-2">Контакты</h3>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li>
                  <p>Телефон для связи: <a href='#'>+7-987-957-71-30</a></p> 
                </li>
                <li>
                  <p>E-mail для связи: <a href='#'>volochek93@yandex.ru</a></p>
                </li>
                <li>
                  <p>Рабочее время: Пн-пт с 9.30 до 18.00</p>
                </li>
              </ul>
            </div>
          </div>

          


        </div>
        
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="mb-4">
            <a href="#" class="pl-0 pr-3"><span class="icon-telegram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-whatsapp"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          </div>
          
        <p>
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
          with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        
        </div>
        
      </div>
    </div>
  </footer>
</div>