<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="row mb-5">
            <div class="col-12">
              <h3 class="footer-heading mb-4">О нас</h3>
              <p>Наша цель - чтобы Вы получили продукт, который поможет Вашему бренду стать узнаваемым на рынке, а также выделиться среди конкурентов</p>
            </div>
          </div>

        </div>
        <div class="col-lg-3 ml-auto">
         
          <div class="row mb-5">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Навигация</h3>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li><a href="#about-section">О нас</a></li>
                <li><a href="#what-we-do-section">Преимущества</a></li>
                <li><a href="#portfolio-section">Портфолио</a></li>
              </ul>
            </div>
            
          </div>
          
        </div>
        

        <div class="col-lg-4 mb-5 mb-lg-0">

          <div class="mb-5">
            <h3 class="footer-heading mb-2">Контакты</h3>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li>
                  <p>Телефон для связи: <a href='tel:89879577130'>+7-987-957-71-30</a></p> 
                </li>
                <li>
                  <p>E-mail для связи: <a href='mailto:volochek93@yandex.ru'>volochek93@yandex.ru</a></p> 
                </li>
                <li>
                  <p>Рабочее время: Пн-пт с 8.00 до 18.00</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row pt-1 mt-5 text-center">
        <div class="col-md-12">
          <div class="mb-4">
            <a href="https://t.me/ESVolochek" class="pl-0 pr-3" target="_blank"><span class="icon-telegram"></span></a>
            <a href="https://wa.me/89879577130?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D1%83%D0%B5%D1%82%20%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%BF%D1%80%D0%B5%D0%B7%D0%B5%D0%BD%D1%82%D0%B0%D1%86%D0%B8%D0%B8" class="pl-3 pr-3"  target="_blank"><span class="icon-whatsapp"></span></a>
            <a href="https://www.linkedin.com/in/evgvol" class="pl-3 pr-3" target="_blank"><span class="icon-linkedin"></span></a>
          </div>
          <p>
            &copy; <script>document.write(new Date().getFullYear());</script> Designstudio63.ru <p class="fs-30"></p> 
          </p>
          <p class="fw-lighter">Вся представленная на сайте информация носит информационный характер и ни при каких условиях не является публичной офертой.</p>
        </div>
      </div>
    </div>
  </footer>
</div>