<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="row mb-5">
            <div class="col-12">
              <h3 class="footer-heading mb-4">О нас</h3>
              <p>Мы работаем в дизайне уже более 8 лет, за спиной более 1500 проектов.</p>
            </div>
          </div>

        </div>
        <div class="col-lg-3 ml-auto">
         
          <div class="row mb-5">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Navigation</h3>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            
          </div>
          
        </div>
        

        <div class="col-lg-4 mb-5 mb-lg-0">

          <div class="mb-5">
            <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>


            <form method="post" class="form-subscribe">
              <div class="form-group mb-3">
                <input type="text" class="form-control border-white text-white bg-transparent" placeholder="Enter email" aria-label="Enter Email" aria-describedby="button-addon2">
              </div>
              <div class="form-group">
                <button class="btn btn-primary px-5" type="submit">Subscribe</button>
              </div>
            </form>

          </div>

          


        </div>
        
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="mb-4">
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
          
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
          with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        
        </div>
        
      </div>
    </div>
  </footer>
</div>