{% load static %}
<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->

<header class="site-navbar-wrap">
  <div class="site-navbar site-navbar-target js-sticky-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-7 col-md-5">
          <div class="my-0 site-logo">
            <h2 class="my-0 site-logo d-flex align-items-center">
              <img href="{% url 'core:index' %}" src={% static 'images/fav/favicon-32x32.png' %} alt="">
              <a href="{% url 'core:index' %}">Design<span class="text-secondary">Studio</span><span class="text-primary">63</span></a>
            </h2>
          </div>
        </div>
        <div class="col-4 col-md-6">
          <nav class="site-navigation text-right" role="navigation">
            <div class="container">

              <div class="d-inline-block d-lg-block ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black">
                <span class="icon-menu h3"></span> <span class="menu-text"></span>
              </a></div>
              <ul class="site-menu main-menu js-clone-nav d-none d-lg-none">
                <li><a href="#home-section" class="nav-link">Главная</a></li>
                <li><a href="#about-section" class="nav-link">О нас</a></li>
                <li><a href="#what-we-do-section" class="nav-link">Преимущества</a></li>
                <li><a href="#portfolio-section" class="nav-link">Портфолио</a></li>
                <li><a href="#contact-section" class="nav-link">Заказать звонок</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
